
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500;1,600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap');

/*GENERALES*/

*{
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

:root{
    --text-color:#363636;
    --subtitle-color:#5e5c5c;
}

a{
    text-decoration: none;
    color:var(--text-color);
}

body{ 
    min-width: 280px;
}

h2, h2 span{
    font-family: 'Dancing Script', cursive;
    text-align: center;
    color:var(--subtitle-color)
}

h2 span{
    font-size: 0.6em;
}

/*NAVBAR*/

.nav{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1em;
    z-index: 100;
    background-color: #fff;
    border-bottom: 1px solid #ccc;
    position: fixed;
}

.nav .logo{
    font-size: 1em;
    font-weight: 300;
}

.hamburger{
    outline:none
}

/*.hamburger-inner:hover{
    background-color:#006600;
}*/

.nav .menu{
    background-color: #fff;
    position: absolute;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    top:50px;
    left: 0px;
    align-items: center;
    display: none;
    z-index: 20;
    padding-top: 2em;
}

.nav .visible{
    display: flex;
}

.nav .menu .menu-item{
    margin: 20px 0;
}

/*.nav .menu .menu-item:hover{
    color:#006600;
    text-shadow: 2px 2px 10px #006600, 4px 4px 10px #9c9c9c;
}*/

/*HEADER*/

.banner{
    height: 100vh;
    position: relative;
    padding-top: 50px;
}

.banner .banner-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(0.8);
}

.banner .banner-text{
    position: absolute;
    z-index: 10;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

.banner .banner-text h1, .banner .banner-text span{
    color:#ffffff;
    font-weight: 400;
    padding: 0.5em 0;
    text-align: center;
}

.banner .banner-text h1{
    font-size: 2.5em;
    letter-spacing: 15px;
    padding-left: 15px;
}

.banner .banner-text span{
    letter-spacing: 10px;
    font-size: 1.5em;
    padding-left: 10px;
}

/*MAIN*/
main .separador{
    display: block;
    height: 50px;
    width: 1px;
    background-color: #605e5e;
    margin: 0 auto;
    opacity: 0.6;
}

main .section{
    padding: 2em 1.4em;
}

main .section p{
    color:var(--text-color);
    line-height: 1.8em;
    font-size: 18px;
    text-align: center;
}

main .section h2{
    font-size: 2em;
    margin-bottom: 0.8em;
}

/*PORTFOLIO*/

main .portfolio .gallery-container .gallery-item{
    width: 100%;
    margin-bottom: 1em;
    height: 300px;
}

main .portfolio .gallery-container .gallery-item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.5s ease-out;
    cursor: pointer;
}

/*CONTACT*/
main .contact .contact-form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

main .contact .contact-form .contact-form-item{
    margin-bottom: 25px;
}

main .contact .contact-form label{
    font-family: 'Dancing Script', cursive;
    color:var(--subtitle-color);
    font-size: 22px;
    align-self: flex-start;
}

main .contact .contact-form input{
    height: 50px;
    width: 100%;
    padding: 0 1em;
}

main .contact .contact-info{
    margin-top: 2em;
    display: flex;
    flex-direction: column;
}

main .contact .contact-info a{
    margin: 0.7em auto;
    font-size: 18px;
}

footer{
    margin-top: 3em;
}

footer .socials{
    text-align: center;
}

footer .socials .fab{
    font-size: 2em;
    margin: 0 0.6em;
}

footer span{
    font-family: 'Dancing Script', cursive;
    display: block;
    text-align: center;
    margin: 1em 0;
}

.lightbox{
	position:fixed;
	left:0;
	top:0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.4);
	z-index: 100;
	display: none;
	-ms-flex-align: center;
	align-items: center;
	justify-content: center;
	cursor: zoom-out;
	padding: 30px;
    
}

.lightbox.open{
	display: -ms-flexbox;
	display: flex;
}

.lightbox .lightbox-content img{
	height: auto;
	width: auto;
	max-width: 100%;
	max-height: 400px;
	cursor: pointer;
	display: block;
	margin: 40px 0;
    border: 2px groove #fff;
}

.lightbox .lightbox-content{
	position: relative;
    top:-50px;
}

.lightbox.open .lightbox-content{
	animation: lightboxImage .5s ease;
}

@-webkit-keyframes lightboxImage{
	0%{
		-webkit-transform: scale(0.8);
		transform: scale(0.8);
	}
	100%{
		-webkit-transform:scale(1);
		transform: scale(1);
	}
}

@keyframes lightboxImage{
	0%{
		-webkit-transform: scale(0.8);
		transform: scale(0.8);
	}
	100%{
		-webkit-transform:scale(1);
		transform: scale(1);
	}
}

.lightbox .lightbox-content .lightbox-close{
	position: absolute;
	height: 40px;
	width: 40px;
	top:0px;
	right: 0px;
	font-size: 36px;
	text-align: right;
	color: #fff;
	line-height: 40px;
	cursor:pointer;
}

.lightbox .lightbox-content .lightbox-caption{
	position: absolute;
	bottom: -100px;
	left: 0;
	width: 100%;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: space-between;
	justify-content: space-between;
	font-size:16px;
	color:var(--text-color);
    background-color: #fff;
	font-weight: 400;
    
    align-items: center;
    padding: 1.5em;
}

.lightbox .lightbox-content .lightbox-caption .caption-text{
    width: 80%;
}

.lightbox .lightbox-content .lightbox-caption .caption-text h2{
    margin-bottom: 1em;
    font-size: 1em;
}

.lightbox .lightbox-content .lightbox-caption .caption-text p{
    font-size: 0.7em;
}

.lightbox .lightbox-controls .prev-item,
.lightbox .lightbox-controls .next-item{
	position: absolute;
	height: 40px;
	width: 40px;
	background-color: #fff;
	text-align: center;
	border-radius: 50%;
	cursor:pointer;
	top:50%;
	margin-top: -20px;
	z-index:110;
	-webkit-transition:all 0.3s ease;
	transition: all 0.3s ease;
}

.lightbox .lightbox-controls .prev-item:active,
.lightbox .lightbox-controls .next-item:active{
	-webkit-transform:scale(1.2);
	transform:scale(1.2);
}

.lightbox .lightbox-controls .prev-item{
	left:30px;
}

.lightbox .lightbox-controls .next-item{
	right: 30px;
}

.lightbox .lightbox-controls .prev-item .fa,
.lightbox .lightbox-controls .next-item .fa{
	font-size: 32px;
	line-height: 40px;
}

@media (min-width: 768px){

    .banner .banner-text h1{
        font-size: 3.5em;
    }

    .banner .banner-text span{
        font-size: 2em;
    }

    .nav{
        height: 75px;
    }

    .nav .logo{
        font-size: 1.6em;
    }

    .nav .menu{
        height: 100%;
    }

    .nav .menu .menu-item{
        font-size: 1.5em;
        margin: 2em 0;
    }

    .nav .menu .menu-item:hover{
        color:#006600;
        font-weight: 500;
    }

    main .portfolio .gallery-container{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1em;
    }

    main .portfolio .gallery-container .gallery-item{
        width: 100%;
        margin-bottom: 0;
        height: 300px;
        box-shadow: 0px 0px 10px 2px rgba(94,92,92,1);
    }
    
    main .contact .contact-form{
        width: 60%;
        margin: 0 auto;
    }

    main .contact .contact-form .btn-suscribe:hover{
        color: #006600;
        font-weight: 500;
    }

    .lightbox .lightbox-content .lightbox-caption .caption-text{
        width: 80%;
    }
    
    .lightbox .lightbox-content .lightbox-caption .caption-text h2{
        
        font-size: 1.5em;
    }

    .lightbox .lightbox-content .lightbox-caption .caption-text p{
        
        font-size: 1em;
    }

}

@media (min-width: 992px) {

    .nav .menu{
        position: static;
        flex-direction: row;
        z-index: 20;
        padding: 0;
        width: auto;
        display: flex;
    }
    
    .nav .menu .menu-item{
        margin: 0 0.7em;
        font-size: 1em;
    }

    .nav .hamburger{
        display: none;
    }

    main .about, main .clients, main .contact{
        width: 70%;
        margin: 0 auto;
    }

    main .portfolio .gallery-container{
        grid-template-columns: 1fr 1fr 1fr;
        gap: 2em;
    }

    main .portfolio .gallery-container .gallery-item img:hover{
        filter: brightness(0.7);
    }

    footer .socials .fab{
    margin: 0 1em;    
    }
}

@media (min-width: 1200px){
    main .portfolio .gallery-container{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}